.logo{
    text-align: center;
    padding:15px 15px;

}

.menuitem{
    padding: 0px 20px;
    font-weight: 500;
    font-size: 1rem !important;
}

@media only screen and (max-width:600px) {

    .logo{
        text-align: center;
        padding:10px 20px;
    }
    .menuitem{
        display: none;
    }
    .menu_icon{
        display: none !important;
    }
}