.all_blogs_section{
    padding: 30px 25px !important;
}

.section_title {
    color: #314AC4;
}
.blog_seperator {
    width: 70px;
    height: 1px;
    background: #444;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.blog_title{
    text-align: left;
    padding: 30px 120px;
    font-weight: bold !important;
}
.blog_details{
    text-align: left;
    padding: 30px 120px;
}
.blog_info_section{
    text-align: left;
    padding: 0px 120px;
}
.orange{
    background-color:orange;
}
.published_info{
    display: flex;
    /*justify-content: start;*/

}

.auther_name{
    padding: 5px 10px;
}
.blog_share{
display: block;
}

.blog_shareicon{
    float: right;
}

.force_share_blog{
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    width: 40%;

}

.force_share_blog h5{
    padding: 30px 20px;

}


@media only screen and (max-width:960px) {

    .all_blogs_section{
        padding: 30px 0px !important;
    }
    .blog_title{
        text-align: left;
        padding: 30px 0px;
        font-weight: bold !important;
    }
    .blog_details{
        text-align: left;
        padding: 30px 0px;
    }

    .blog_info_section{
        text-align: left;
        padding: 0px 0px;
    }

    .blog_share{
        display: none;
    }
    .force_share_blog{
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
        width: 100%;

    }
}